// Import variables used in the stylesheet
@import '../../styles/scss/color.module';

// Define styles for the Dropdown component
.dropdown {
  /* Set the width and position of the dropdown */
  width: 100%;
  position: relative;

  // Define styles for the dropdown button
  .dropdown-btn {
    /* Set the width, height, padding, background, font size, alignment, and cursor of the button */
    width: 100%;
    height: 45px;
    padding: 0 15px;
    background: $primary-color;
    display: flex;
    font-size: 12px;
    align-items: center;
    font-weight: 300;
    cursor: pointer;
    justify-content: space-between;
  }

  // Define styles for the dropdown content
  .dropdown-content {
    /* Set the position, margin, padding, background, font weight, width, box shadow, alignment, max height, and overflow of the dropdown content */
    position: absolute;
    margin-top: 4px;
    padding: 13px 16px;
    background: $primary-color;
    font-size: 11px;
    font-weight: 500;
    width: 100%;
    box-shadow: 2px 2px 8px 2px $shadow-grey;
    align-items: center;
    max-height: 90px;
    overflow: scroll;
    z-index: 9;

    // Define styles for each dropdown item
    .dropdown-item {
      /* Set the text alignment, padding, cursor, font weight, font size, and width of each dropdown item */
      text-align: left;
      padding: 3.5px 0px;
      line-height: 1.4;
      cursor: pointer;
      font-weight: 300;
      font-size: 11px;
      width: 100%;

      // Define styles for the hover state of each dropdown item
      &:hover {
        background: $primary-color;
      }
    }
  }
}
