@import '../../styles/scss/index.module.scss';
.root-layout {
  display: flex;
}
.logo-wrapper {
  @include flexCentre;
  width: 100%;
}
.logo-container {
  width: 150px;
  height: 150px;
  background-color: $black;
  border-radius: 100%;
  @include flexCentre;
  animation: logoContainer 2s infinite alternate;
}
@keyframes logoContainer {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
