@import '../../styles/scss/index.module';
.button {
  color: $white;
  padding: 15px;
  font-weight: 600;
  cursor: pointer;
  @include flex($justifyContent: center, $alignItems: center, $gap: 10px, $direction: row);
}
.primary {
  background-color: $red;
  color: $white;
  border: 0px solid;
}
.secondary {
  background-color: $liberty;
  color: $white;
  border: 0px solid;
}
.transparent {
  background-color: transparent;
}

// borders
.border-round {
  border: 0px solid;
  border-radius: 5px;
}
.border-none {
  border: none;
}
// sizes
/* Small buttons */
.button-xs {
  width: 110px;
}
.button-s {
  width: 136px;
}
/* Medium buttons */
.button-md {
  width: 175px;
}
.button-l {
  width: 210px;
}
.button-xl {
  width: 218px;
}
.button-xxl {
  width: 345px;
}
.button-xxxl {
  width: 440px;
}
