@import '../../styles/scss/index.module.scss';
.error {
  color: $pale-orange;
  font-size: 0.81rem;
  font-weight: 600;
}
.error-bar {
  background-color: $red;
  position: absolute;
  height: 40px;
  width: 5px;
  top: 3px;
  right: 4px;
}
@media screen and (max-width: 1024px) {
  .error-bar {
    left: 12.3rem;
  }
}
