@import '../../styles/scss/index.module.scss';

.card-wrapper {
  @include flexCentre;
  justify-content: space-between;
  margin-bottom: 3%;
  padding: 15px 17px;
  height: 40px;
  font-size: 13px;
  box-sizing: border-box;
  font-weight: 700;
  text-transform: uppercase;
}
.background-green {
  background-color: $dark-green;
  color: $bright-grey;
}
.background-yellow {
  background-color: $pale-yellow;
  color: $black;
}
.background-blue {
  background-color: $liberty;
  color: $bright-grey;
}
.background-grey {
  background-color: $extra-dark-grey;
  color: $black;
}
.border-round {
  border-radius: 5px;
}
.flexbox {
  @include flexCentre;
  justify-content: space-between;
}
.statsbox {
  width: 100%;
}
.percent {
  margin-bottom: 3%;
  margin-left: calc(100% - 97%);
  padding-right: 0px;
  width: 15%;
  text-align: left;
  font-size: 13px;
  font-weight: 700;
  font-family: $primary-font-bold;
}
.currency-symbol {
  font-weight: 500;
}
.percent-symbol {
  font-size: 10px;
  font-family: $primary-font-light;
}
