@import '../../styles/scss/index.module.scss';
.logo {
  @include flex($direction: column, $alignItems: center);
  height: 100px;
  img {
    height: 100px;
    width: 100px;
  }
  h1 {
    font-size: 26px;
    letter-spacing: 2px;
    color: $white;
  }
  .highLightedText {
    color: $red;
  }
}
