@import '../../styles/scss/index.module.scss';
.config-tabs {
  display: flex;
  width: 100%;
}
.tabs-bar {
  width: 40%;
  padding: 2% 2.75%;
  background-color: $light-grey;

  h1 {
    letter-spacing: 1px;
    margin-bottom: 15px;
  }
  ul {
    list-style: none;
    > li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
      height: 45px;
      color: $black;
      font-weight: 300;
      font-size: 0.8rem;
      outline: none;
      margin-bottom: 15px;
      cursor: pointer;
      &:not(.active-tab) {
        background-color: $white;
      }
    }
  }
}
.contents {
  h1 {
    margin-bottom: 30px;
  }
}
.active-tab {
  background-color: $pale-yellow;
}
@media screen and (max-width: 1024px) {
  .tabs-bar {
    ul {
      > li {
        font-weight: 300;
        font-size: 0.5rem;
        height: 30px;
      }
    }
  }
}
