@import '../../styles/scss/index.module.scss';
.logout {
  background-color: $light-black;
  color: $white;
  width: 100%;
  padding: 15px;
  font-size: 12px;
  font-family: $primary-font-bold;
  @include flex(
    $direction: column,
    $wrap: wrap,
    $alignItems: center,
    $gap: 8px,
    $alignContent: center
  );
  button {
    padding: 0px;
    font-size: 11px;
    font-family: $primary-font-light;
    cursor: pointer;
  }
}
