@import '../../styles/scss/index.module.scss';
.cash-modal {
  background-color: $white;
  @include flex($direction: column, $gap: 20px);
  > button {
    align-self: center;
    margin-top: 13px;
  }
}
