@import '../../styles/scss/index.module.scss';

.input-container {
  color: $white;
  position: relative;
  min-width: 100%;
  max-width: 392px;
  height: 49px;
  display: flex;
}
.date-time-picker {
  @include flex($direction: column, $gap: 10px);
  margin-top: 20px;
}
.calendar-icon {
  position: absolute;
  top: 48%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 25px;
  cursor: pointer;
  padding-right: 7px;
  color: $black;
}

.date-input {
  &:focus {
    outline: none;
  }
}

.date-input {
  width: 100%;
  padding: 0 10px;
  padding-left: 17px;
  font-size: 16px;
  border-radius: 1px;
  border: 1px solid $white;
  background-color: $white;
}

.date-input-disabled {
  background-color: $pale-grey;
}
