@import 'styles/scss/index.module.scss';
.reports-summary {
  @include flex($direction: column, $gap: 10px);
  .report-stats {
    @include flex($direction: row, $gap: 20px);
    > div {
      flex: 1 1 auto;
      width: 306px;
      font-size: 13px;
      height: 45px;
      margin-bottom: 5px;
    }
    button {
      height: 45px;
      width: 100%;
      font-weight: 300;
      justify-content: space-between;
    }
  }
}
