@import '../../styles/scss/index.module';
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $opaque-grey;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-content {
    background-color: $white;
    border-radius: 5px;
    max-width: 62%;
    max-height: 90%;
    position: relative;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    .header-section {
      position: sticky;
      width: 100%;
      top: 0;
      left: 0;
      background: $white;
      padding: 45px 45px 10px;
      z-index: 5;
      .heading {
        font-family: $primary-font;
        font-size: 32px;
        font-weight: 300;
        letter-spacing: 0.5px;
      }
      .modal-close {
        position: absolute;
        right: 30px;
        top: 25px;
        border: none;
        background-color: transparent;
        font-size: 20px;
        cursor: pointer;
      }
    }
    .modal-main-section {
      padding: 0 45px 45px 45px;
    }
  }
}
