@import '../../styles/scss/fonts.module';
.stats-container {
  padding: 2.5%;
}
.stats-title {
  padding-top: 7%;
  padding-bottom: 3%;
  font-family: $primary-font-bold;
  font-size: 14px;
}
.space {
  padding-top: 5%;
}
