@import 'styles/scss/index.module.scss';
.userform {
  max-height: 94%;
  padding: 20px 40px 10px 40px;

  .main-section {
    height: 94%;
    form {
      @include flex($direction: column, $gap: 30px);
      > button {
        align-self: center;
      }
      .user-form-section {
        @include flex($direction: row, $gap: 5px, $justifyContent: space-between);
        width: 900px;
        .user-details,
        .work-details {
          @include flex($direction: column, $gap: 20px);
          padding: 40px;
          border-radius: 7px;
          width: 48%;
          background-color: $light-grey;
          label {
            font-size: 13px;
          }
          .dropdown {
            @include flex($direction: column, $gap: 10px);
          }
        }
      }
      .cash-detail-section {
        @include flex($direction: column, $gap: 10px);
        background-color: $light-grey;
        padding: 20px 40px;
        border-radius: 7px;
        label {
          font-size: 13px;
        }
        .cash-heading {
          font-size: 15px;
        }
        .cash-content {
          font-size: 14px;
        }
        .date-container {
          @include flex($direction: row, $gap: 35px);
          & > div {
            width: 350px;
          }
          > input:disabled {
            background-color: $disabled-input;
          }
        }
        > button {
          align-self: flex-start;
        }
      }
    }
  }
}
