@import '../../styles/scss/index.module.scss';
.card {
  background-color: $bright-grey;
  overflow: auto;
  width: calc(94% / 4);
  margin-bottom: 3%;
  border-radius: 8px;
  height: auto;
  padding: 28px;
  cursor: pointer;
  text-align: center;
}
.card-name {
  font-size: 19px;
  padding-bottom: 8px;
  font-weight: 400;
}
.card-data {
  padding-bottom: 15px;
  font-size: 35px;
  font-weight: 300;
}
.active {
  background-color: $red;
  color: $white;
}
@media (min-width: 1000px) and (max-width: 1700px) {
  .card-data {
    font-size: 24px;
  }
}
