@import '../../styles/scss/index.module.scss';
.card {
  background-color: $light-grey;
  overflow: auto;
  width: calc(90% / 4);
  margin-bottom: 3%;
  border-radius: 8px;
  height: auto;
  padding: 25px;
  cursor: pointer;
  text-align: center;
}
.card-name {
  font-size: 21px;
  padding-bottom: 8px;
  font-weight: 400;
}
.card-data {
  padding-bottom: 15px;
  font-size: 35px;
  font-weight: 300;
}
.active {
  background-color: $red;
  color: $white;
}
