$primary-color: #5b8edc;
$secondary-color: #c1e792;
$red: #cc0100;
$black: #000;
$white: #fff;
$pale-orange: #ffa503;
$light-black: #1a1a1a;
$light-grey: #f8f8f8;
$pale-yellow: #f6d78b;
$dark-grey: #999999;
$opaque-grey: #00000080;
$liberty: #595b9a;
$pale-grey: #eaebed;
$pale-blue: #5684cd;
$pale-black: #ddd;
$faded-grey: #444444;
$pale-green: #cff0b3;
$disabled-bg: #eae4e4;
