// Primary and Secondary color.
$primary-color: #ffffff;
$secondary-color: #c1e792;

// White color group
$white: #fff;

// Green color group
$pale-green: #cff0b3;
$faded-green: #00aa01;
$dark-green: #8e9a82;

// Red color group
$pale-red: #d93f3f;
$red: #cc0100;

// Black color group
$black: #000;
$light-black: #1a1a1a;
$pale-black: #ddd;
$opaque-black: #150607;

// Grey color group
$light-grey: #f8f8f8;
$pale-grey: #eaebed;
$faded-grey: #444444;
$dark-grey: #999999;
$opaque-grey: #00000080;
$bright-grey: #efefef;
$light-medium-grey: #d1d3d1;
$extra-dark-grey: #dedede;
$shadow-grey: #0f0f0f1a;

// Yellow color group
$pale-yellow: #f6d78b;

// Orange color group
$pale-orange: #ffa503;

// Purple color group
$liberty: #595b9a;

// Blue color group
$pale-blue: #5684cd;

$disabled-input: #eae4e4;
$disabled-button: #e68181;
