// Screen Breakpoints (min-screen sizes)
$laptop-screen-min: 768px;
$laptop-screen-max: 1023px;

$large-laptop-screen-min: 1024px;
$large-laptop-screen-max: 1199px;

$desktop-screen-min: 1200px;
$desktop-screen-max: 1599px;

$large-desktop-screen-min: 1600px;
$large-desktop-screen-max: 1919px;

$other-large-screens-min: 1920px;
