@import '../../styles/scss/index.module.scss';

.users-panel {
  @include flex($direction: column, $gap: 20px 0);
  padding: 10px;
  .buttons-panel {
    @include flex(
      $direction: row,
      $alignItems: flex-start,
      $justifyContent: flex-end,
      $gap: 0 20px
    );
    button {
      font-size: 13px;
      height: 50px;
      font-weight: 300;
    }
  }
  .users-table {
    height: 766px;
  }
}
