@import '../../styles/scss/index.module.scss';
.side-bar {
  max-height: 100vh;
  min-width: 14%;
  background-color: $black;
  @include flex($direction: column, $justifyContent: space-between);
  > .nav-items {
    @include flex($direction: column, $wrap: wrap, $gap: 80px, $alignItems: center);
    margin-top: 50px;
  }
}
@media screen and (max-width: 1024px) {
  .side-bar {
    min-width: 20%;
  }
}
